<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>键盘配置</title>
    <link rel="stylesheet" href="/web/control/kbd.css">
</head>

<body>
    <div class="container">
        <div class="nav-container" style=" display: flex;
                gap: 20px;border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                font-size: 1.1em;">
            <a href="/web/control/index.html">导航页</a>
            <a href="/web/fileserver/index.html">文件服务器</a>
            <a href="/web/control/dev.html">设备配置页</a>
            <a href="/web/control/kbd.html">按键配置页</a>
        </div>
        <header>
            <h1>键盘配置管理</h1>
            <div class="server-controls">
                <input type="text" id="host-input" value="" placeholder="服务器地址">
                <button id="fetch-config-btn">获取最新配置</button>
            </div>
            <div class="server-status">
                <span id="status-indicator">●</span>
                <span id="status-text">离线</span>
                <button id="check-status-btn">检查连接</button>
            </div>
        </header>

        <main id="config-container">
            <div class="loading">正在加载键盘配置...</div>
        </main>

        <span class="help-icon" title=""
            style="font-size: 13px;line-height: 1;margin-bottom: 10px;">备注：按键类型中的“空按键”为不进行任何操作，而“不设置”会将非原始层的按键设置为原始层的值，原始层则等同于“空按键”；<br>恢复默认指丢弃当前页面的按键更改，如果要将按键配置恢复为固件的默认配置，请在文件服务器界面删除/.configs/.data/keys.bin文件后重启；<br>应用配置后过一段时间，页面会自动刷新，不建议在刷新前操作，更改可能不会被保存。</span>

        <div class="control-actions">
            <button id="save-btn" disabled>应用配置</button>
            <button id="reset-btn" disabled>恢复默认</button>
        </div>
    </div>

    <script src="/web/control/kbd.js"></script>
</body>

</html>